{% extends "myapp/base.html" %}

{% block title %}Categories & Products{% endblock %}

{% block body_block %}
    <h2>List of Categories</h2>
    <ul class="category-list">
        {% for category in cat_list %}
            <li><a href="{% url 'myapp:detail' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Top 5 Most Expensive Products</h2>
    <ul class="product-list">
        {% for product in product_list %}
            <li>{{ product.name }} - ${{ product.price }}</li>
        {% endfor %}
    </ul>
{% endblock %}
